{
"filterName":"pinch",
"filterType":"base",
"params":[
    {
        "type":"float",
        "name":"radius",
        "value":0.5,
        "default":0.5,
        "min_value":0.0,
        "max_value":2.0
    },
    {
        "type":"float",
        "name":"scale",
        "value":-1.5,
        "default":0.5,
        "min_value":-2.0,
        "max_value":2.0
    },
    {
        "type":"vector",
        "name":"center",
        "default_dx":0.5,
        "default_dy":0.5,
        "min_dx":0.0,
        "max_dx":1.0,
        "min_dy":0.0,
        "max_dy":1.0
    }
]
}