{
    "filterName":"test1",
    "filterType":"combination",
    "allFilter":[
        {
            "filterName":"move",
            "filterType":"base",
            "params":[
                {
                    "type":"vector",
                    "name":"moveVector",
                    "dx":0.5,
                    "dy":0.5
                }
            ]
        },
        {
            "filterName":"pinch",
            "filterType":"base",
            "params":[
                {
                    "type":"float",
                    "name":"radius",
                    "value":0.5
                },
                {
                    "type":"float",
                    "name":"scale",
                    "value":-1.5
                },
                {
                    "type":"vector",
                    "name":"center",
                    "dx":0.5,
                    "dy":0.5
                }
            ]
        }
    ]
}